In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import *
from functions import *

In [3]:
baskets = get_baskets()
baskets = baskets[baskets['customer']<2000]

In [6]:
create_base(customers=range(1990,2000))

        week  customer  product
0          0      1990        0
1          0      1990        1
2          0      1990        2
3          0      1990        3
4          0      1990        4
...      ...       ...      ...
222495    88      1999      245
222496    88      1999      246
222497    88      1999      247
222498    88      1999      248
222499    88      1999      249

[222500 rows x 3 columns]

In [35]:
base = create_base(customers=range(1900,2000))

#Adding basket information
base = pd.merge(base, baskets, on=['week', 'customer','product'], how='left')
base['price'] = base['price'].fillna(0).astype(int)
base['isBought'] = (base['price'] > 0)

In [17]:
base['isBought'].value_counts(normalize=1)

False    0.969688
True     0.030312
Name: isBought, dtype: float64

In [31]:
log_loss(np.array([0,0,1,1,1]),np.array([0,1,1,1,1]))

6.907915198468176